ul{
  list-style: none;
}
.header{
  padding: 0px 30px 0px 30px;
}
.header a{
  text-transform: uppercase;
  color: gray;
}
.header .nav-item{
  padding: 30px 15px;
}
.banner{
  background: url('assets/image/wallpaper.jpeg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  height: 558px;
  padding: 105px 75px;
}
.banner *{
  color: white;
}
.padding_content{
  padding: 0px 30px 0px 30px;
}


.contents{
  padding-top: 30px;
  background: #cccccc;
  padding-bottom: 60px;
}
.card_contents{
  position: relative;
  margin: 15px 0 15px 0;
}
.image_card{
  width: 100%;
  height: auto;
}
.card_tittle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.footer > .row > div{
  margin-top: 30px;
  padding: 30px;
}
/* CUSTOM RESPONSIVE */
@media (min-width: 992px) {
  .banner h1{
    padding-top: 30px;
  }
  .banner > * {
    padding-left: 30px;
  }    
}
@media (max-width: 991.98px) {
  .header{
    background: gray;
  }
  .header a{
    color: white;
  }
  .banner{
    margin-top: 30px;
    background: none;
    height: auto;
    border-bottom: 1px solid gray;
  }
  .banner p{
    margin-bottom: 50px;
  }
  .banner *{
    color: black;
  }
  .padding_content{
    padding: 0px 30px 0px 30px;
  }
  .contents{
    padding-top: 30px;
    background: none;
  }
}


@media (max-width: 767.98px){
  .md-display{
    display: none;
  }
}